.App {
  text-align: center;
}

.container {
  width: 1000px;
  height: 600px;
  border: 2px solid black;
  margin: auto;
  overflow: auto;
}

.slide {
  min-height: 600px;
}

.hidden-slide {
  display: none;
}

.prev-slide {
  overflow-y: hidden;
  z-index: 2;
  transform: translateY(-100%) translateZ(0px);
  position: absolute;
}

.next-slide {
  overflow-y: hidden;
  z-index: 2;
  transform: translateY(100%) translateZ(0px);
  position: absolute;
}

.cur-slide {
  overflow-y: auto;
  z-index: 2;
  transform: translateY(0%) translateZ(0px);
}

.wheel-count {
  position: fixed;
  top: 0;
  left: 0;
}
